/*--------------------------------------------------------------
## Wrap
==============================================================*/
.wrap {
  @include center;
  max-width: $width_site_l;
  position: relative;
  @include calc-width(100, $margin_site_m); // responsive margin
  @include bp-max($small) {
    @include calc-width(100, $margin_site_s);
  }

  & .wrap:not( .block__body ) {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}
