/*--------------------------------------------------------------
### List--links class
--------------------------------------------------------------*/
.list--links {

  .block__link {

    &.is-active {
      text-decoration-color: theme(main, icon);
    }
  }
}
