/*--------------------------------------------------------------
## Elements
==============================================================*/
html {
	box-sizing: border-box;
	font-size: 100%;
}

// Inherit box-sizing to make it easier to change the property
// for components that leverage other behavior; see
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Fallback for when there is no custom background color defined
body {
	background-color: theme(site, body);
}

hr {
	background-color: theme(main, bg-alt);
	border: 0;
	height: 1px;
	margin: 1em 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto; // Make sure images are scaled correctly
	max-width: 100%; // Adhere to container width
	object-fit: cover;
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

// Extra wide images within figure tags don't overflow the content area.
figure {
	margin: 1em 0;
}
