/*--------------------------------------------------------------
### block__body
--------------------------------------------------------------*/
.block__body {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  &.pad {
    padding: ($pad / 2) $pad $pad $pad;
  }

  &.inside {
    bottom: 0;
    position: absolute;
    text-shadow: $text_shadow;
    padding: $pad;
  }
}
