/*--------------------------------------------------------------
### block__gallery
--------------------------------------------------------------*/
.block__gallery {

  .gallery__frame {

    a {
      display: block;
    }
  
    .gallery__img {
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.125);
    }

    @include bp-min($medium){
      &:hover {
        .gallery__img {
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.45);
        }
      }
      &:active {
        .gallery__img {
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
