/*--------------------------------------------------------------
## Contact template
==============================================================*/
.page-template-page-contact {

  a .fa-external-link::before {
      display: none;
  }

}
