/*--------------------------------------------------------------
### Header--bot
--------------------------------------------------------------*/
.header--bot {
  @include bp-max($medium){
    display: none;
  }

  .nav--main__bot {

    .menu__anchor {
      padding-left: 0;
      padding-right: 24px;

      &:hover,
      &:active {
      }
    }
  }

}
