/*--------------------------------------------------------------
### Btn
--------------------------------------------------------------*/
// note: .btn is the layout class, .button is the style

.btn {
  padding: $btn_pad_s;
  @include bp-min($medium){
    padding: $btn_pad_m;
  }

  &.btn-flat {
    border: none;
    border-radius: 0;
    box-shadow: none;
    &:focus,
    &:active,
    &:hover {
      border: none;
      box-shadow: none;
    }
  }
}

.clickable {
  &:focus,
  &:active,
  &:hover {
    .btn.btn-flat {
      border: none !important;
    }
  }
}
