/*--------------------------------------------------------------
### Block--contact
--------------------------------------------------------------*/
.block--contact {

  &.links {
    margin-bottom: 1rem;
    flex-direction: row;

    .btn {
      text-align: center;
      @include bp-min($medium) {
        text-align: left;
      }

      &::before {
        font-size: 1.5em;
        vertical-align: -2px;
      }
    }
  }
}
