/*--------------------------------------------------------------
### Widgets Categories & Pages
--------------------------------------------------------------*/
.widget_categories {
  ul {
    margin-bottom: 0.75rem;
  }
  ul ul li {
    font-size: 0.875em;
    margin-left: 0.75rem;
  	font-weight: normal;
    text-transform: none;
    list-style: square;
  }
}

.widget_nav_menu {
  ul {
    margin-bottom: 0.75rem;
  }

  ul ul li {
    font-size: 0.8125em;
    margin-left: 0.75rem;
  	font-weight: normal;
    text-transform: none;
    list-style: square;
  }
}

// Show children items of category/page menu
// for selected parent category/page only.
// Change to display: block; to not hide menu children.
.widget li {

  &.cat-item ul.children  {
    display: none;
  }
  &.current-cat ul.children,
  &.current-cat-parent ul.children  {
    display: block;
  }
  // Show children items of page menu for selected parent page only.
  // Change to display: block; to not hide menu children.
  &.page_item ul.children  {
    display: none;
  }
  &.current_page_item ul.children,
  &.current_page_parent ul.children  {
    display: block;
  }
}
