/*--------------------------------------------------------------
## Theme
==============================================================*/
h1 {
	color: theme(main, titles);
}

.post-body,
.block--text {

	h2, h3 {
		color: theme(main, text);
	}

	h4, h5, h6,
	p {
		color: theme(main, text);
	}

	p > a {
		color: theme(main, link);
		text-decoration-color: theme(main, alt);

		&:hover {
			color: theme(main, link-h);
		}
		&:active {
			color: theme(main, link-a);
		}
	}

	ul, ol {

		> li::before {
			color: theme(main);
		}
	}

	// other elements
	blockquote {
		background-color: theme(main, bg-alt);
		p {
			color: theme(main, text);
		}
	}

	code {
		background-color: theme(main, bg-alt);
	}
}
