/*--------------------------------------------------------------
## Site container / content area
==============================================================*/
.site-container {
	width: 100%;
}

// Set up content area
.content-area {
	width: 100%;
}
