// lighten/darken vars
$light: 5;
$lighter: 10;
$dark: 10;
$darker: 15;

$palette: (
  primary: ( // green
    base: #01661E, //#93C48B,
    light: lighten(#01661E, $light) ,
    dark: darken(#01661E, $dark),
    darker: darken(#01661E, $darker),
    white: #85b693,
  ),
  secondary: ( // orange
    base: #f58c3b, //#F37616,
    light: lighten(#f58c3b, 5),
    dark: darken(#f58c3b, $dark),
    white: #f8ac72,
  ),
  tertiary: ( // yellow
    base: #F6B820,
    light: lighten(#F6B820, $light),
    dark: darken(#F6B820, $dark),
    white: #fad989,
  ),
  quartiary: ( //puce //auburn
    base: #D8829D, //#9E2B25,
    light: lighten(#D8829D, $light),
    dark: darken(#D8829D, $dark),
    white: #e4a9bb,
  ),
  quinary: (
    base: #51A3A3,
    light: lighten(#51A3A3, $light),
    dark: darken(#51A3A3, $dark),
    white: #abd2d2,
  ),
  white: (
    base: #fff,
    flash: #f1f2f4,
    theme: #d8ece7,
  ),
  grey: (
    base: #EDEDED,
    light: #EBEBEB,
    dark: #D6D6D6,
    text: #757575,
    white: #f1f4f5,
    black: #757575,
  ),
  black: (
    base: #0f0c1c,
    light: #222,
    dark: #111,
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($palette, $base), $shade);
  @return $color;
}


// filter black to pink
$filter_primary: invert(.4) sepia(.7) hue-rotate(100deg) saturate(350%);
// filter black to green
$filter_secondary: lighten(saturate(adjust-hue(#222222, 13), 89.27), 46.47);
// filter black to white
$filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
