/*--------------------------------------------------------------
## Theme - footer
--------------------------------------------------------------*/
.site-footer {
  background-color: theme(footer, bg);

  .block--footer {
    color: theme(footer, text);

    .block__title {
      color: theme(footer, title);
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: theme(footer, link-h);
        text-decoration: underline;
      }

      &:active,
      &:focus {
        color: theme(footer, link-h);
        text-decoration: underline;
      }
    }
  }
}


.footer--bottom {
	background-color: theme(style-1, bg);

  .block--footer--bot {
    color: theme(style-1, text);

    a {
      color: theme(style-1, link);
      text-decoration: underline;

      &:hover {
        color: theme(style-1, link-h);
        text-decoration: underline;

        &::before {
          text-decoration: none;
        }
      }

      &:active {
        color: theme(style-1, link-a);
        text-decoration: underline;

        &::before {
          text-decoration: none;
        }
      }
    }
  }

}
