/*--------------------------------------------------------------
### Block--collapse
--------------------------------------------------------------*/
.block--tabs { // &.tabs
  position: relative;

  .list--tabs {
    //@include trans-ea(0.1, height);
    display: block;
    position: static;
    width: 100%;
    @include bp-min($medium){
      display: flex;
    }
    @include bp-max($medium){
      height: auto !important;
    }
  }

  .block__item {

    &.tab {
      position: static;
      padding: 0;
      list-style: none;
      width: 100%;
      @include bp-min($medium){
        margin-bottom: $text_space;
        width: 25%;
      }

      .block__title {
        padding: 0.5em 1.5rem;
        text-align: left;
        opacity: 0.8;
        @include bp-min($medium){
          text-align: center;
        }

        &:hover,
        &:active {
          opacity: 1;
        }
      }

      .tab--wrap {
        flex-direction: row;

        .block__title {
          cursor: pointer;
        }

        &.is-toggled {

          .block__title {
            opacity: 1;
          }
        }
      }

      .tab--card {
        display: none;
        width: 100%;
        @include bp-min($medium){
          position: absolute;
          left: 0;
        }

        .block__body {
          padding: ($text_space * 2) 1.5rem;
        }

        .block__text {
          opacity: 0;
        }

      }

      .tab--card.is-active {
        display: block;

        .block__text {
          opacity: 1;
        }

        .block__footer {
          display: flex;
          flex-direction: row-reverse;
          @include bp-max($small) {
            margin-top: 0.75rem;
            flex-direction: row;
          }
          .block__btn {
            margin-top: auto;
          }
        }
      }
    }
  }

}
