/*--------------------------------------------------------------
### Block--text
--------------------------------------------------------------*/
.block--text {
  word-break: normal;
  word-wrap: break-word;
  //user-select: none;

  h2 {
    margin: ($row_space_m) 0 0 0;
    @include bp-min($large){
      margin: ($row_space_l) 0 0 0;
    }

    + h3,
    + ul,
    + ol,
    + p {
      margin-top: $text_space;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin: $text_space 0 $text_space 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    margin: $text_space 0 $text_space 0;

    &:first-child {
      margin-top: 0;
    }

    ~ ul {
      margin-top: 0;
    }
  }

  .block__text + .button-group {
    margin-top: $text_space;
  }
}
