/*--------------------------------------------------------------
## Row-modifiers
==============================================================*/
// backgrounds
.has-img {
  background-position: center;
  background-size: cover;

  > .wrap > .grid {
    .block {
      margin-bottom: 0;
    }
    .block {
      padding: 2 * $pad;
      height: 100%;
    }
    .block--previews {
      padding-bottom: 0;
    }
  }
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: unset !important;

  @include bp-min(1025) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  > .wrap > .grid {
    .block {
      margin-bottom: 0;
    }
  }
}
