/*--------------------------------------------------------------
## Theme - rows
--------------------------------------------------------------*/
.no-bg {
  background-color: none;
}
// white alternative bg
.has-bg {
  background-color: theme(main, bg-alt);
}

.has-img {
  > .wrap > .grid {
    .block {
      background-color: rgba(theme(main, bg), 0.95);
    }
  }
}

.row__title {
  color: theme(main, titles);
}

.row__title--theme {
  color: theme(main, bg);
  background-color: theme(main, titles);
}

.row--bar {
  background-color: theme(main, bg-alt);
}
