/*--------------------------------------------------------------
## Theme - secondary color scheme
==============================================================*/
.style-2 {

  &.row {
    background-color: theme(style-2, bg);
    color: theme(style-2, text);

    .row__text p {
      color: theme(style-2, text);
    }
    .row__title,
    .row__subtitle {
      color: theme(style-2, titles);

      &::before,
      &::after {
        color: inherit;
      }
    }

    .block--text {

      h2, h3, h4 {
        color: theme(style-2, titles);
      }
      p, li {
        color: theme(style-2, text);

        &::before,
        &::after {
          color: inherit;
        }
      }
    }

    blockquote {
      background-color: theme(style-2, text);
      border-left: solid 2px theme(style-2, border);
      border-bottom: solid 1px theme(style-2, border);
    }
  }

}
