/*--------------------------------------------------------------
## Theme - blocks
--------------------------------------------------------------*/
.block {

  &.no-bg {
    background-color: none;
  }
  // white alternative bg
  .has-bg {
    background-color: theme(main, bg-alt);
  }
}


.block__meta {
  .date {
    color: theme(main, text);
  }
  .date--square {
    background-color: theme(main, base);
    color: theme(main, white);
  }
}

.table {

	thead,
	thead tr {
		background-color: theme(main);
		color: theme(main, white);
	}
}

.table--margin {

	td, tr, th {
		border-color: theme(site, body);
	}
	tbody {
		td, tr {
			background-color: theme(site, body);
		}
	}
	thead,
	thead tr {
		background-color: theme(main);
		color: theme(main, white);
	}
}


// specific blocks
.block--collapse {

  .block__title {
    border-bottom-color: clr(grey, darker);

    &::after {
      color: clr(grey, darkest);
    }

    &:hover {
      border-bottom-color: theme(main, icon);
      &::after {
        color: theme(main, icon);
      }
    }
  }

  .toggled {

    .block__title {
      &::after {
        color: theme(main, icon);
      }
    }
  }
}
