/*--------------------------------------------------------------
### Button--wired--w
--------------------------------------------------------------*/
@mixin button--wired--w() {
  background-color: transparent;
  border: 1px solid theme(main, bg);
  border-radius: $btn_radius;
  box-shadow: 1px 1px theme(main, grey);
  color: theme(main, bg);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background-color: theme(main, bg);
    border-color: transparent;
    border-bottom-color: theme(main, bg);
    color: theme(main, link);
    text-shadow: $text_shadow;
  }

  .clickable:active &.click,
  &:active {
    background-color: theme(main, btn-a);
    border-color: theme(main, btn-a);
    color: theme(main, bg);
    text-shadow: $text_shadow;
  }

}


.button--wired--w {
  @include button--wired--w();

  &:focus {
    outline: 0;
  }
}
