/*--------------------------------------------------------------
## 404 template
==============================================================*/
.error404 {

	.page-content {
		margin-bottom: 0;
		@include bp-min($medium){
			margin-bottom: 4rem;
		}
	}
}
