/*--------------------------------------------------------------
## Search template
==============================================================*/
.search-form {

  .search-field {
    background-color: theme(main, bg);
    border: 1px solid;
    box-sizing: border-box;
    border-radius: $btn_radius;
    color: theme(main, text);
    height: $height_form;
    line-height: $height_form_line;
    padding: $height_form_pad;
    margin-bottom: 0.5rem;
    width: 100%;
    @include bp-min($medium){
      width: 70%;
    }

    &:hover {
      border-color: theme(main, alt);
      color: theme(main, text);
    }

    &:focus {
      border-color: theme(main, alt);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
      outline: 0;
    }
  }

  .search-submit {
    @include button();
    position: relative;
    margin-top: 1rem;
    width: 100%;
    padding: $btn_pad_s;

    @include bp-min($medium){
      padding: $btn_pad_m;
      top: -1px;
      width: 29%;
    }
  }
}

.search {

  .row--form {
    padding: 1.5rem 0 1.75rem 0;
  }

  .row--previews {
    padding-top: 2rem;
  }

  .no-results {
    margin-bottom: 8rem;
  }
}
