/*--------------------------------------------------------------
## Theme - primary color scheme
   blocks
--------------------------------------------------------------*/
.has-style-1 {

  .preview--post {

    &.clickable {

    }
  }

  .preview--page--icon {
    background-color: unset;

    .block__img {
      img {
        filter: $filter_white;
      }
    }
  }

  .preview--page {
    background-color: theme(style-1, bg-alt);
    color: theme(style-1);
    padding: 1rem;

    p,
    li {
      color: theme(main, text);
    }

    .block__title {
      color: theme(style-1);
    }

    .block__link,
    .btn {

      &::before,
      &::after {
      }
    }
  }

}
