/*--------------------------------------------------------------
## Theme - primary color scheme
   blocks
--------------------------------------------------------------*/
.has-style-1 {

  .block--collapse {

    .block__title {
      border-bottom-color: theme(style-1, titles);

      &::after {
        color: theme(style-1, titles);
      }
    }
  }


  .block--form {

    label {
      color: theme(style-1, titles);
    }
  }

}
