/*--------------------------------------------------------------
## Admin styles
==============================================================*/

.dashicons-admin-generic:before:hover {
	text-decoration: auto;
}

#postbox-container-2,
#post-body-content {
	max-width: 1300px;
}

body {
	background-color: #eee;
}

/* after title excerpt , remove helptext */
#hum_core_postexcerpt {
	margin-top: 14px;
	margin-bottom: 30px;
}

#hum_core_postexcerpt .inside p {
	display: none;
}

#wp-content-editor-tools {
	padding-top: 10px
}

td#wp-word-count {
	font-size: 16px;
	padding-left: 2px;
}

// disable
#wp_featherlight_options {
	display: none;
}

.php-error #adminmenuback,
.php-error #adminmenuwrap {
	margin-top: 0;
}

.handle-order-higher,
.handle-order-lower {
	display: none;
}
