/*--------------------------------------------------------------
## Share dialog
==============================================================*/
// positioning
.block--share {
  position: relative;
  font-size: 14px;

  > .button-group {
    margin-bottom: 1rem;
  }

  .share-dialog {
  }

  .share-button {
    font-size: 1em;
    width: 8em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .dialog__wrap {
    //@include trans-ea(0.2, transform);
    transform: translateY(170px);
    opacity: 0;
  }

  .share-dialog {
    @include trans-ea(0.2, height);
    height: 0;
    background-color: theme(main, bg-alt);
    padding: 0;
    width: 100%;
    z-index: -1;
    //box-shadow: 0 8px 16px rgba(0,0,0,.15);

    &.is-open {
      height: auto;
      padding: 1rem;
      margin-bottom: 1rem;
      z-index: 1;

      .dialog__wrap {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .dialog__title {
      margin: 0;
    }

    .dialog__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-radius: 4px;
      background-color: theme(main, bg);
      margin-top: 0.5rem;
    }

    .copy-link {
      font-size: 14px;
    }
    .dialog__link {
      cursor: text;
      background-color: clr(grey, light);
      border: 1px solid transparent;
      padding: 0.4375rem 0.5rem;
      width: 100%;
      margin-right: 1rem;
      box-shadow: 1px 1px clr(grey, light);
    }

    .dialog__btn {
      min-width: 140px;
    }
  }


  .dialog__close {
    font-size: 14px;
    display: none;
    width: 8em;
    &.is-open {
      display: inline-block;
    }
  }
}

.block--share--bot {
  margin-bottom: 0;
}

.button-group--dialog {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;

  .btn {
    text-shadow: none;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 100%;
  }
}
