/*--------------------------------------------------------------
## Swiper slider
==============================================================*/
.swiper-container {
  height: $section_img_s;

  @include bp-min($medium) {
    height: $section_img_m;
  }
  @include bp-min($large) {
    height: $section_img_l;
  }
}
