/*--------------------------------------------------------------
### wrap-main__sb
--------------------------------------------------------------*/
$width__sidebar: 200px; // 190px + 2 * 16px padding 222px

.wrap-main--sb {
  @include bp-min($medium) {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $width_site_l;
    @include calc-width(100, $margin_site_m);

    // inner wrap
    .wrap {
      width: 100%;
      max-width: 100%;
    }

    #primary {
      @include calc-width(100, ($width__sidebar + 48px));
    }

    .sidebar {
      width: $width__sidebar;
    }

    .sidebar--fixed .widget-area {
      position: fixed;
      width: $width__sidebar;
    }
  }
}
