/*--------------------------------------------------------------
## Contact form 7 style
--------------------------------------------------------------*/
.block--form {

  input[type="reset"],
  input[type="submit"] {
    @include button();
    height: $height_form;
    border-radius: 3px;
    line-height: $height_form_line;
    padding: $height_form_pad;
    @include bp-min($medium){
      margin-top: 1rem;
    }
  }

  .wpcf7-form-control:not(.wpcf7-submit) {
    font-size: 15px;
    background-color: theme(form, bg);
    border: 1px solid theme(form, border);
    box-sizing: border-box;
    border-radius: 3px;
    color: theme(form, text);
    height: $height_form;
    line-height: $height_form_line;
    padding: $height_form_pad;
    width: 100%;

    &:hover {
      border-color: theme(form, border-h);
      color: theme(form, text-h);
    }

    &:focus {
      background-color: theme(form, focus);
      border-color: theme(form, border-a);
      color: theme(form, text-a);
      outline: 0;
    }
  }

  .wpcf7-form {

    label {
      color: theme(form, label);
      font-size: 13px;
      display: block;
      line-height: 2rem;
    }

    .wpcf7-textarea {
      font-size: 100%;
      height: auto;
      overflow: auto;
      vertical-align: top;
    }

    .wpcf7-file {
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;

      &:hover,
      &:focus {
        border-color: theme(form, border-a);
        cursor: pointer;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      vertical-align: -2px;

      &:hover {
        cursor: pointer;
      }
    }

    .wpcf7-acceptance {
      border: none;
      background-color: clr(grey, light);
      margin-top: 2rem; // because no label

      .wpcf7-list-item-label {
        padding-left: 0.25rem;
      }

      label {
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }

    }

    .wpcf7-radio {
      background-color: none;
      border: 0;
    }

    .wpcf7-checkbox {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .wpcf7-select:hover {
      cursor: pointer;
    }

    .wpcf7-list-item {
      margin: 0;
      padding-right: 0.5rem;
      vertical-align: -1px;
    }

    .wpcf7-response-output {
      color: clr(tertiary);
      padding: 0 0 0 0.5rem;
    }

    .wpcf7-not-valid-tip {  /* span */
      font-size: 14px;
      color: clr(tertiary);
      margin: 0 0 0 0;
      padding: 0.25rem 0 0 1rem;

      &::before {
        @include fa();
        content: "\f071";
        padding-right: 0.5rem;
      }
    }

    .cf-response {
      font-size: 0.875em;

      .wpcf7-validation-errors,
      .wpcf7-mail-sent-ok,
      .wpcf7-mail-sent-ng {
        border: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }

    p.form-helptext {
      font-size: 0.875em;
    }
  }

}

.has-style-1 {
  .block--form {
    input[type="reset"],
    input[type="submit"] {
      @include button--alt();
    }
  }
}
