/*--------------------------------------------------------------
## Theme - pages
--------------------------------------------------------------*/
.page {
}

.page,
.home {

  .page-header,
  .row {
    .wrap > .grid {
      justify-content: center;
    }
  }

  .page-header {

    &.has-img {
      animation-name: zoom-out;
      animation-duration: 8s;

      @keyframes zoom-out {
        from {
          background-size: 120%;
        }
        to {
          background-size: 100%;
        }
      }
    }

    .block--text {
      animation-name: appear;
      animation-duration: 2s;

      @keyframes appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

}
