/*--------------------------------------------------------------
## TinyMCE images
==============================================================*/
img,
.wp-caption {
	max-width: 100%; // Fluid images for posts, comments, and widgets
}
img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; // Make sure images with WordPress-added height and width attributes are scaled correctly
}
img.size-full,
img.size-large,
img.wp-post-image {
	max-width: 100%;
	height: auto; // Make sure images with WordPress-added height and width attributes are scaled correctly
}
img,
img.wp-post-image {
	// Add fancy borders to all WordPress-added images but not things like badges and icons and the like
	border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
img.wp-smiley {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}


// captions
.wp-caption {
	padding: 0;
}
.wp-caption .wp-caption-text,
.wp-caption-dd {
	padding: 7px 0 0 0;
	padding: 0.4375rem 0 0 0;
	text-align: left;
}
.wp-caption .wp-caption-text,
.wp-caption-dd,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.7;
	color: #505050;
}
