/*--------------------------------------------------------------
## Grid
==============================================================*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid_space;
  margin-right: -$grid_space;
  @include bp-min($medium) {
    flex-wrap: wrap;
  }

  > .block {
    @include calc-width(100);
    flex-direction: row;
    margin-left: $grid_space;
    margin-right: $grid_space;
    margin-bottom: $grid_gut;
  }

  > .block--previews {
    flex-direction: column;
  }

  // reverse mod
  &.reverse {
    flex-direction: column-reverse;
    @include bp-min($medium){
      flex-direction: row-reverse;
    }
  }

  &.nowrap {
    @include bp-min($medium){
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }

}

.grid--100 {

  // full row vertical reverse
  &.reverse {
    flex-direction: column-reverse;
  }

}


.grid--16 {

  > .block {
    flex-direction: column;
    @include calc-width(33.3333);

    @include bp-min($small) {
      @include calc-width(16.66666667);
    }
    @include bp-min($medium) {
      @include calc-width(16.66666667);
    }
  }
}

.grid--20 {

  > .block {
    flex-direction: column;
    @include calc-width(50);

    @include bp-min($small) {
      @include calc-width(33.3333);
    }
    @include bp-min($medium) {
      @include calc-width(20);
    }
  }
}

.grid--25 {
  > .block {
    flex-direction: column;
    @include calc-width(50);

    @include bp-min($small) {
      @include calc-width(50);
    }
    @include bp-min($medium) {
      @include calc-width(25);
    }
  }
}

.grid--33 {
  > .block {
    flex-direction: column;
    @include calc-width(100);

    @include bp-min($small) {
      @include calc-width(50);
    }
    @include bp-min($medium) {
      @include calc-width(33.3333);
    }
  }
}

.grid--40 {

  > .block {
    flex-direction: column;

    @include bp-min($medium) {
      &:nth-child(odd) {
        @include calc-width(40);
      }
      &:nth-child(even) {
        @include calc-width(60);
      }
    }
  }
}

.grid--50 {

  > .block {
    flex-direction: column;

    @include bp-min($medium) {
      @include calc-width(50);
    }
  }

}

.grid--60 {

  > .block {
    flex-direction: column;
    @include bp-min($medium) {

      &:nth-child(odd) {
        @include calc-width(60);
      }
      &:nth-child(even) {
        @include calc-width(40);
      }
    }
  }

}

.grid--75 {

  > .block {
    flex-direction: column;
    @include bp-min($medium) {

      &:nth-child(odd) {
        @include calc-width(75);
      }
      &:nth-child(even) {
        @include calc-width(25);
      }
    }
  }
}
