/*--------------------------------------------------------------
### Grid--posts
--------------------------------------------------------------*/
.grid--previews {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid_space_prev;
  margin-right: -$grid_space_prev;

  > .preview {
    @include calc-width(100, $grid_space_prev);
    flex-direction: column;
    margin-left: $grid_space_prev;
    margin-right: $grid_space_prev;
    margin-bottom: $grid_gut_prev * 1.5; // more space for small

    @include bp-min($medium) {
      flex-direction: row;
      margin-bottom: $grid_gut_prev;
    }

    // block__text
    .block__text p {
      @include font-fill(prev, small, 1);
      min-height: auto;

      @include bp-min($medium) {
        @include font-fill(prev, medium, 2);
      }
      @include bp-min($large) {
        @include font-fill(prev, large, 3);
      }
    }

  }

  &.grid--100 {

    > .preview {
      flex-wrap: nowrap;

      .block__title {
        @include font-fill(prev-title, base, 1);
      }

      .block__text p {
        @include font-fill(prev, small, 1);
        min-height: auto;
      }

      .block__thumb + .block__body {
        margin-top: $pad;
        @include bp-min($small){
          margin-top: 0;
          margin-left: $pad * 2;
        }
      }

      @include bp-min($small){
        flex-direction: row;
        .block__thumb + .block__body {
          width: 70%;
        }
        .block__thumb {
          width: 30%;
        }
        .block__title {
          @include font-fill(prev-title, small, 1);
        }
      }

      @include bp-min($medium){
        .block__thumb + .block__body {
          width: 75%;
        }
        .block__thumb {
          width: 25%;
        }
        .block__title {
          @include font-fill(prev-title, medium, 1);
        }
      }

      @include bp-min($large) {

        .block__title {
          @include font-fill(prev-title, large, 1);
        }
      }
    }

  }

  &.grid--50 {

    > .preview {

      .block__title {
        @include font-fill(prev-title, base, 1);
      }
      .block__text p {
        @include font-fill(prev, base, 1);
      }

      @include bp-min($small) {
        @include calc-width(50, $grid_space_prev);

        .block__title {
          @include font-fill(prev-title, small, 2);
        }
        .block__text p {
          @include font-fill(prev, small, 1);
        }
      }

      @include bp-min($medium) {
        @include calc-width(50, $grid_space_prev);

        .block__title {
          @include font-fill(prev-title, medium, 2);
        }
        .block__text p {
          @include font-fill(prev, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 2);
        }
        .block__text p {
          @include font-fill(prev, large, 3);
        }
      }
    }
  }


  &.grid--33 {

    > .preview {

      .block__title {
        @include font-fill(prev-title, base, 1);
      }

      @include bp-min($small) {
        @include calc-width(33.3333, $grid_space_prev);

        .block__title {
          @include font-fill(prev-title, small, 3);
        }
      }


      @include bp-min($medium) {
        @include calc-width(33.3333, $grid_space_prev);

        .block__title {
          @include font-fill(prev-title, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 2);
        }
      }
    }
  }

  &.grid--25 {

    > .preview {
      @include calc-width(50, $grid_space_prev);
      flex-direction: column;

      .block__title {
        @include font-fill(prev-title, base, 1);
      }

      @include bp-min($small) {
        @include calc-width(25, $grid_space_prev);

        .block__title {
          @include font-fill(prev-title, small, 3);
        }
      }

      @include bp-min($medium) {
        @include calc-width(25, $grid_space_prev);

        .block__title {
          @include font-fill(prev-title, medium, 3);
        }
      }

      @include bp-min($large) {
        .block__title {
          @include font-fill(prev-title, large, 3);
        }
      }
    }
  }

  &.icons {
    > .preview {
      .block__title {
        min-height: unset;
      }
    }
  }

}

.grid--40,
.grid--50,
.grid--60 {
  .grid--previews.grid--100 {
    > .preview:last-child {
      margin-bottom: 0;
    }
  }
}
