@import "vars/vars__colors";
@import "vars/vars__colors__map";
@import "vars/vars__fonts";
@import "vars/vars__images";

// BREAKPOINTS ---------------------------------------------------------------/

// Base: 576px ------ landscape phones, 576px and up
// Small: 768px ----- tablets, 768px and up
// Medium: 992px ---- desktops, 992px and up
// Large: 1200px ---- large desktops, 1200px and up
$breakpoints: (
  base: 576,
  small: 768,
  medium: 992,
  large: 1200,
);

$base: map-get($breakpoints, base);  //
$small: map-get($breakpoints, small);
$medium: map-get($breakpoints, medium);
$large: map-get($breakpoints, large);

// WIDTH ---------------------------------------------------------------------/

// Site Width
$width_site_s: 480px;
$width_site_m: 782px;  // max width
$width_site_l: 1100px;
$width_site_w: 1680px;
$width_site_max: 1920px;

// Site margins
$margin_site_s: 2rem; // < 540px
$margin_site_m: 3rem; // > 540px


// GRIDS & SPACING -----------------------------------------------------------/

// grid spacing (grid neg. margin & block margin)
$grid_space: 2rem;
$grid_space_prev: 1rem;
$grid_space_gal: 1rem;
$grid_gut: 1 * $grid_space;
$grid_gut_prev: 2 * $grid_space_prev;

// vertical row padding
$text_space: 1.5rem;
$row_space_s: 3 * $text_space;
$row_space_m: 4 * $text_space;
$row_space_l: 5 * $text_space;

// padding unit for all block content (use class="pad")
$pad: 1rem;


// MENU ----------------------------------------------------------------------/

// fonts menu
$font_size_menu_s: 16px;
$font_size_menu_m: 18px;
$font_size_menu_l: 22px;

// submenu
$height_submenu: 32px;
$width_submenu: 200px;
$height_submenu_main: $height_submenu;
$width_submenu_main: $width_submenu;


// STYLE VARS ----------------------------------------------------------------/

//shadows
$box_shadow_img: -1px 3px 6px rgba(theme(main, link-a),0.5);
$text_shadow: 1px 2px 3px rgba(clr(black),0.3);

// button
$btn_radius: 0;
$btn_pad_s: 6px 24px;
$btn_pad_m: 7px 24px;

// form
$height_form: 40px;
$height_form_btn: $height_form;
$height_form_line: 20px; // +2px border
$height_form_pad: (($height_form - ( $height_form_line + 2px )) * 0.5) 24px;
