/*--------------------------------------------------------------
### block__text
--------------------------------------------------------------*/
.block__text {
  color: inherit;

  p {
    margin: 0 0 $text_space 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.is-excerpt p {
    margin: 0 0 $pad 0;
  }

  p + ul {
    margin-top: 0;
  }

  &.pad {
    padding-left: $pad;
    padding-right: $pad;
  }

}


.block__text--small {
  font-size: 0.75em;

  p {
    font-size: inherit;
  }
}
