/*--------------------------------------------------------------
## Nomob / yesmob
==============================================================*/
.nomob {
  display: none;
  @include bp-min($medium) {
    display: block;
  }
}

.yesmob {
  display: block;
  @include bp-min($medium) {
    display: none;
  }
}
