/*--------------------------------------------------------------
### Button--w
--------------------------------------------------------------*/
@mixin button--w() {
  background-color: clr(grey);
  border: 1px solid transparent;
  border-radius: $btn_radius;
  box-shadow: 1px 1px clr(grey, dark);
  color: theme(main, text);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background-color: clr(grey, light);
    border-bottom: 1px solid clr(grey, dark);
    color: theme(main, text);
    text-decoration: underline;
  }

  .clickable:active &.click,
  &:active {
    background-color: clr(grey, dark);
    border-color: clr(grey, dark);
    color: theme(main, text);
  }

}


.button--w {
  @include button--w();

  &:focus {
    outline: 0;
  }
}
