/*--------------------------------------------------------------
### preview--post
--------------------------------------------------------------*/
.preview--post {

  // style
  .block__thumb {
    object-position: center;
    height: auto;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
}
