/*--------------------------------------------------------------
## Yoast
==============================================================*/
.yoast {

  p.breadcrumbs {
    margin-bottom: 0;
  }

  .breadcrumbs {
    font-size: 0.875em;
    padding: 0 0.25em 0.5em 0.25em;
  }
}
