/*--------------------------------------------------------------
### Widget search
--------------------------------------------------------------*/
.widget_search {

  form {
    padding: 0.5rem;
  }

  .search-submit {
    font-size: 1.25em;
    margin-top: 0.5rem;
  }

  .search-field {
  	font-size: 0.875em;
  }
}
