/*--------------------------------------------------------------
### Handcrafted widget for static sidebar
list category and linked posts.
--------------------------------------------------------------*/
.widget--postcats {

  .postcats {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .cat__title {
    background-color: none;
    font-size: 0.75rem;
    opacity: 0.5;
    padding: 0;
    text-align: right;

    &::before {
      @include fa;
      content: "\f07c";
      margin-right: 0.375rem;
    }
  }

  li {
    padding: 0;

    a {
      padding: 0.375rem 0.375rem 0.375rem 1.75rem ;
      position: relative;

      &:before {
        @include fa();
        content: "\f15c";
        font-size: 0.875rem;
        left: 0.5rem;
        position: absolute;
        top: 0.5rem;
      }
    }
  }


}
